#instaLogo {
    height: 40px;
    width: 40px;
}


#text {
    margin-top: 160px;
    padding-left: 200px;
    color: whitesmoke;
    text-indent:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
}

#profileImage {
    height: 330px;
    width: 330px;
    margin-right: -20px;
    margin-top: 50px;
}